.news .news_header{
    height: 4rem;
}
.news .bar.bar-header{
    z-index: 99;
}
.news .list_main{
    position: absolute;
    z-index: 80;
    width: 100%;
    top: 0;
    left: 0;
    background: white;

}
.news .list_view{
    position: absolute;
    /*display: none;*/

    width: 100%;
    height: calc(100vh - 8.4rem);
    background: rgba(250,250,250,.3);
    top:4.4rem;
    /*transform: translateY(calc(8rem - 100vh));*/
    z-index: -1;
    transition:all .3s ;
}
.news .list_main .list_ctr{
    /*display: none;*/
    /*opacity: 0;*/
    font-size: 1.4rem;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding-left: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    transition:all .3s ;
    z-index: 20;

}
.news .list_main .list_ctr .btn{
    line-height: 2rem;
    width:  8rem ;
    height: 2rem ;
    border-radius: 1rem ;
    border: .1rem solid red;
    text-align: center;
    color: red;
    padding: 0;
    position: absolute;
    top:0;
    bottom: 0;
    right: 6rem;
    margin:auto 0;
}

.news .s_left,.news .s_right{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    opacity: 1;
    background-color: gray;
    top:0;
    position: absolute;
}
.news .s_left,.news .s_right{
    transition: all .3s;
}
.news .s_left,.news .s_right .active::before{
    transition: all .3s;
    transform: rotate(45deg);
}
.news .s_left{
    left: 0;
    z-index: 70;
    background: linear-gradient(to right,white 0%,white 50%,transparent 100%);
}
.news .s_right{
    text-align: right;
    padding-right: 1rem;
    right:0;
    font-size: 2.8rem;
    width: 5rem;
    z-index: 90;
    background: linear-gradient(to left,white 0%,white 75%,transparent 100%);
}


.news .news_list{
    /*width: 1200px;*/
    /*margin-top:4rem;*/
    padding-left: 2rem;
    padding-right: 2rem;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
}

.news .news_list a{
    display: inline-block;
    color: black;
    margin: 0 1rem;
}

.news .news_item .news_lItem{
    margin-top: -1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom:.1rem solid lightgrey;
}
.news .news_item .news_sItem{
    margin-top: -1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom:.1rem solid lightgrey;
}
.news .news_item .news_sItem .img_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news .news_item .news_sItem .img_list img{
    flex-grow: 1;
}
.news .news_item .news_sItem .img_list img:nth-of-type(2){
    margin: 1rem 0;
}
.news .news_item{

    border-top: none;
}

.news .news_item img{
    width: 10rem;
    height: 8rem;
    margin: 1rem;
    flex-shrink: 0;

}

.news .news_item h3{
    font-size: 1.8rem;
    margin: 1rem;
}
