<ion-view view-title="news" class="news">
    <div class="bar bar-subheader">
        <ion-scroll class="news_header" direction="x" scrollbar-x="false">
            <div class="news_list">
                <a ng-repeat="name in news.nameArray">{{name.tname}}</a>
            </div>
        </ion-scroll>
    </div>

    <ion-content>




        <ion-refresher pulling-text="正在刷新" on-refresh="news.dataRefresh()" spinner="lines">

        </ion-refresher>

        <ion-slide-box does-continue="true" delegate-handle="mainSlideBox" on-drag-start="news.canSlide(true)" on-drag-end="news.canSlide(false)" style="margin-top: 4rem;">

            <ion-slide>

                <mg-slide-box source-array="news.adsArray"></mg-slide-box>
                <div class="news_item" ng-repeat="item in news.itemsArray" ng-click="news.joinDetail()">
                    <img ng-src="{{item.imgsrc}}" alt="">
                        <h3>{{item.title}}</h3>
                </div>

            </ion-slide>
            <ion-slide>
                <div on-tap="doMe()">
                    <mg-slide-box source-array="news.adsArray"></mg-slide-box>
                    <ion-list>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                        <ion-item>1</ion-item>
                    </ion-list>
                </div>





            </ion-slide>
            <ion-slide>



            </ion-slide>
            <ion-slide>


            </ion-slide>
        </ion-slide-box>
        <ion-infinite-scroll distance="1%" immediate-check="true" spinner="lines" on-infinite="news.dataLoading()"></ion-infinite-scroll>
    </ion-content>
</ion-view>

